@model CategoryFormModel

<form method="POST">
	<div asp-validation-summary="ModelOnly"></div>

	<div class="form-group">
		<label asp-for="Name"></label>
		@if (ViewData["Action"].ToString().ToLower() == "delete")
		{
			<input asp-for="Name"
				   value="@Model?.Name"
				   readonly 
				   placeholder="Name"
				   class="form-control" />
		}
		else
		{
			<input asp-for="Name"
				   value="@Model?.Name"
				   placeholder="Name"
				   class="form-control" />
		}
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-default">@ViewData["Action"]</button>
</form>
