@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
		The email address has been successfully verified and you can now <a asp-controller="Account" asp-action="Login">log in</a>!
    </p>
</div>
