@model PaginatedSearchViewModel<SongListingServiceModel>

@{
	ViewData["Title"] = "Songs";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row center-block">
	<div class="col-md-8">
		@Html.Partial("_Search", Model.SearchTerm)
	</div>
</div>

<div class="row center-block">
	<div class="col-md-8">
		@Html.Partial("_SongListing", Model.PageInfo.Items)
	</div>
</div>

@(await Component.InvokeAsync<PaginationComponent>(new { pageInfo = Model.PageInfo }))
