@model PaginatedSearchViewModel<SongListingServiceModel>

<h2>Last added songs</h2>

<div class="jumbotron">
	@Html.Partial("_Search", Model.SearchTerm)

	@Html.Partial("_SongListing", Model.PageInfo.Items)

	@(await Component.InvokeAsync<PaginationComponent>(
		new {
			pageInfo = Model.PageInfo,
			searchTerm = Model.SearchTerm
		}))
</div>